#hidden {
  display:none;
}

header {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(red, yellow);
  color:black;
  height: auto;
}

section {
  padding:1em;
  margin:1em;
}


footer {
  background-image: linear-gradient(yellow, red);
  height: 25vh;
}

p {
  font-size: 2rem;
  color:black;
}

img {
  height: 200px;
  width: 200px;
  float:left;
}